/*
* Title:  EduMath
* Description: SER515Project
* Copyright: Copyright(c)2019
* Company: Computer Software Engineering
* @author Sajjan, Amit, Vaibhav, Shubham
@version 1.0
*/
.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.wip {
  position: fixed;
  width: 100%;
  height: 40%;
  left: 10;
  top: 10;
  background-color: rgb(238, 238, 238);
}

.header {
  display: inline-block;
  font: 60px;
  margin: 0;
  padding: 0;
  height: 20%;
  width:100%;
}
.task-header {
  font-family: Arial;
  display: block;
  font-size: 30px;
  color: rgb(51, 50, 50);
  margin-top: 40px;
  margin-bottom: 50px;
  width:100%;
}

.droppable {
  position: absolute;
  width: 60%;
  height: 60%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(158, 158, 158);
  border: 10px;
  border-color: white;
  border-style: solid;
}

.draggable {
  
  display: inline;
  color: white;
  margin:2px;
  padding: 15px;
  font-size: 30px;
  
}


.answer {
  position: fixed;
  width: 40%;
  height: 60%;
  bottom: 0;
  right: 0;
  background-color: rgb(83, 163, 62);
  border: 10px;
  border-color: white;
  border-style: solid;
}

