.App {
  text-align: center;
}
.container-drag {
  text-align: center;
}
.wip {
  position: absolute;
  width: 370px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}
